<h1>Блок-схемы</h1>
<p>Блок-схемы алгоритмов поиска чёрных шаров в коробке</p>
<p>Ниже преведено 2 алгоритма поиска чёрных шаров в коробке с белыми шарами:</p>
<ul>
  <li><b>Алгоритм №1</b> - поиск одного чёрного шара в коробке с множеством белых</li>
  <li><b>Алгоритм №2</b> - поиск чёрных шара в коробке с белыми, когда количество чёрных шаров неизвестно</li>
</ul>
<p>
  Оба алгоритма в самом начале имеют одинаковую логику: из коробки поочерёдно достаются шары.
  Оснвное отличие первого алгоритма от второго заключается в том, что как только будет извлечён шар
  белого цвета, первый закончит свою работу, а вот второй будет вынужден перебрать все шары в коробке.
</p>
<p>Стоит учесть, что, при работе второго алгоритма, все шары в коробке могут оказаться чёрными и наоборот.</p>
<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/box-balls-scheme"]'>
      Алгоритм №1
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["alg2"]'>
      Алгоритм №2
    </a>
  </li>
</ul>

<div class="container">
	<br>
	<router-outlet></router-outlet>
</div>
