.normal-span span {
  font-weight: normal !important;
}

.result-head {
  width: auto;
  background-color: #428bca;
  color: #fff;
  font-weight: bold;
  margin: -1rem;
}

.table-bordered {
  border: 2px solid #428bca;
}

.table-bordered thead td, .table-bordered thead th {
  border: 1px solid #fff;
}

.table-bordered tbody td, .table-bordered tbody th {
  border: 1px solid #428bca;
}

.page-link {
  border: 1px solid #428bca;
}

.ng-select .ng-select-container {
  border: 1px solid #428bca;
}
