<h1>Редактирование данных</h1>
<p>На данной странице реализован <b>CRUD</b> интерфейс использующий <b>RESTful</b> архитектуру</p>
<p>Основной идеей проекта служит создание классов, экземпляры которых буду взаимодействовать друг с другом используя принцип <b>реляционности</b> по моделе <b>One-To-Many</b> (Один-ко-многим). Необходимо так же предусматреть полную валидацию данных как на стороне сервера, так и клиента.</p>
<p>Ниже преведено 3 вкладки:</p>
<ul>
  <li><b>Вкладка №1 (таблица автомобилей)</b> - позволяет добавлять/просматривать/редактировать и удалять все существующие в базу парка автомобили. Помимо этого, при удалении автомобиля, содержащего тех. осмотров, последние так же будут удалены исходя из принципа реляционности и правил <b>Code First</b>.</li>
  <li><b>Вкладка №2 (таблица тех. осмотров)</b> - позволяет добавлять/просматривать/редактировать и удалять все числящиеся за автомобилями тех. осмотры или менять связи <b>"автомобиль- тех.осмотор"</b>.</li>
  <li><b>Вкладка №3 (отчёт)</b> - содержит информацию об общем количестве автомобилей, количестве тех. осмотров, а так же количество автомобилей, с года выпуска которых прошло больше или меньше 3 лет.</li>
</ul>
<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["/car-park-tables"]'>
      Автомобили
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["techinspection"]'>
      Тех. осмотры
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }' [routerLink]='["report"]'>
      Отчёт
    </a>
  </li>
</ul>

<div class="container normal-span">
	<br>
	<router-outlet></router-outlet>
</div>
