/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f0f8ff !important;
}

.loader-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
}

.loader-container.window {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  justify-content: center;
  background: linear-gradient(45deg, #0a253c, #00619e);
}

.loader-text {
  position: absolute;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: -0.8rem;
}

.loader-container.window .loader-text {
  justify-content: center;
  margin-left: 0.1rem;
}

.loader-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-field.row {
  display: flex;
}

.loader-arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #428bca;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  -webkit-filter: drop-shadow(0 0 18px #428bca);
  filter: drop-shadow(0 0 18px #428bca);
}

.loader-arrow.down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.loader-arrow.outer-1 {
  -webkit-animation-delay: -0.0555555556s;
  animation-delay: -0.0555555556s;
}

.loader-arrow.outer-2 {
  -webkit-animation-delay: -0.1111111111s;
  animation-delay: -0.1111111111s;
}

.loader-arrow.outer-3 {
  -webkit-animation-delay: -0.1666666667s;
  animation-delay: -0.1666666667s;
}

.loader-arrow.outer-4 {
  -webkit-animation-delay: -0.2222222222s;
  animation-delay: -0.2222222222s;
}

.loader-arrow.outer-5 {
  -webkit-animation-delay: -0.2777777778s;
  animation-delay: -0.2777777778s;
}

.loader-arrow.outer-6 {
  -webkit-animation-delay: -0.3333333333s;
  animation-delay: -0.3333333333s;
}

.loader-arrow.outer-7 {
  -webkit-animation-delay: -0.3888888889s;
  animation-delay: -0.3888888889s;
}

.loader-arrow.outer-8 {
  -webkit-animation-delay: -0.4444444444s;
  animation-delay: -0.4444444444s;
}

.loader-arrow.outer-9 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loader-arrow.outer-10 {
  -webkit-animation-delay: -0.5555555556s;
  animation-delay: -0.5555555556s;
}

.loader-arrow.outer-11 {
  -webkit-animation-delay: -0.6111111111s;
  animation-delay: -0.6111111111s;
}

.loader-arrow.outer-12 {
  -webkit-animation-delay: -0.6666666667s;
  animation-delay: -0.6666666667s;
}

.loader-arrow.outer-13 {
  -webkit-animation-delay: -0.7222222222s;
  animation-delay: -0.7222222222s;
}

.loader-arrow.outer-14 {
  -webkit-animation-delay: -0.7777777778s;
  animation-delay: -0.7777777778s;
}

.loader-arrow.outer-15 {
  -webkit-animation-delay: -0.8333333333s;
  animation-delay: -0.8333333333s;
}

.loader-arrow.outer-16 {
  -webkit-animation-delay: -0.8888888889s;
  animation-delay: -0.8888888889s;
}

.loader-arrow.outer-17 {
  -webkit-animation-delay: -0.9444444444s;
  animation-delay: -0.9444444444s;
}

.loader-arrow.outer-18 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loader-arrow.inner-1 {
  -webkit-animation-delay: -0.1666666667s;
  animation-delay: -0.1666666667s;
}

.loader-arrow.inner-2 {
  -webkit-animation-delay: -0.3333333333s;
  animation-delay: -0.3333333333s;
}

.loader-arrow.inner-3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loader-arrow.inner-4 {
  -webkit-animation-delay: -0.6666666667s;
  animation-delay: -0.6666666667s;
}

.loader-arrow.inner-5 {
  -webkit-animation-delay: -0.8333333333s;
  animation-delay: -0.8333333333s;
}

.loader-arrow.inner-6 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes pulsing-fade {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  80% {
    opacity: 0;
  }
}

