<div class="p-3 bg-white rounded shadow">
  <h4 class="border-bottom border-gray pb-2 mb-0">Техническое задание</h4>
  <br>
  <ul>
    <li>Нарисовать блок схему поиска черного шара в коробке с белыми шарами.</li>
    <li>
      Написать программу по блок схеме с шарами (использование массивов с рандомным
      наполнением, использование функции ввода и вывода) на любом языке
      программирования.
    </li>
    <li>
      Загрузить таблицу.
      <div class="overflow-auto mt-3">
        <table class="table table-striped table-bordered">
          <thead class="thead-primary-bs3 font-weight-bold">
            <tr>
              <td>Порядковый номер</td>
              <td>ФИО</td>
              <td>Дата рождения</td>
              <td>Курс</td>
              <td>Предмет</td>
              <td>Балл</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Иванов И.И.</td>
              <td>1/2/1989</td>
              <td>5</td>
              <td>Информатика</td>
              <td>4</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Петров П.П.</td>
              <td>5/13/1991</td>
              <td>4</td>
              <td>Информатика</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Сидоров В.В.</td>
              <td>8/14/1990</td>
              <td>4</td>
              <td>Информатика</td>
              <td>5</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Коршунов П.И.</td>
              <td>12/12/1988</td>
              <td>5</td>
              <td>Информатика</td>
              <td>2</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Артёмов П.Р.</td>
              <td>4/1/1996</td>
              <td>2</td>
              <td>Информатика</td>
              <td>2</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Соколов Д.И.</td>
              <td>2/21/1997</td>
              <td>1</td>
              <td>Информатика</td>
              <td>5</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Внуков К.Е.</td>
              <td>9/18/1987</td>
              <td>5</td>
              <td>Информатика</td>
              <td>3</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Климов А.А.</td>
              <td>7/11/1997</td>
              <td>1</td>
              <td>Информатика</td>
              <td>4</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Алексеенко И.А.</td>
              <td>5/29/1999</td>
              <td>1</td>
              <td>Информатика</td>
              <td>5</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Дедов И.Л.</td>
              <td>11/4/1992</td>
              <td>3</td>
              <td>Информатика</td>
              <td>4</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Иванов И.И.</td>
              <td>1/2/1989</td>
              <td>5</td>
              <td>Экономика</td>
              <td>2</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Петров П.П.</td>
              <td>5/13/1991</td>
              <td>4</td>
              <td>Экономика</td>
              <td>3</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Сидоров В.В.</td>
              <td>8/14/1990</td>
              <td>4</td>
              <td>Экономика</td>
              <td>5</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Коршунов П.И.</td>
              <td>12/12/1988</td>
              <td>5</td>
              <td>Экономика</td>
              <td>4</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Артёмов П.Р.</td>
              <td>4/1/1996</td>
              <td>2</td>
              <td>Экономика</td>
              <td>5</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Соколов Д.И.</td>
              <td>2/21/1997</td>
              <td>1</td>
              <td>Экономика</td>
              <td>3</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Внуков К.Е.</td>
              <td>9/18/1987</td>
              <td>5</td>
              <td>Экономика</td>
              <td>4</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Климов А.А.</td>
              <td>7/11/1997</td>
              <td>1</td>
              <td>Экономика</td>
              <td>4</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Алексеенко И.А.</td>
              <td>5/29/1999</td>
              <td>1</td>
              <td>Экономика</td>
              <td>5</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Дедов И.Л.</td>
              <td>11/4/1992</td>
              <td>3</td>
              <td>Экономика</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>На основании данной таблицы подготовить следующие выборки из таблицы:</p>
      <ul>
        <li>Показать всех рождённых в СССР, имеющих оценку не ниже «3» по информатике.</li>
        <li>Вывести список «Топ студентов», имеющих отлично по двум дисциплинам.</li>
        <li>Вывести список «Топ студентов» по общему количеству баллов.</li>
        <li>Вывести информацию о количестве студентов на каждом из курсов.</li>
        <li>
          Вывести список студентов, сумма цифр в дате рождения у которых меньше 40
          <p><em>29.05.1999 = 2 + 9 + 0 + 5 + 1 + 9 + 9 + 9 = 44.</em></p>
        </li>
      </ul>
    </li>
    <li>
      Разработать Web-пприложение CRUD на языке программрования C#, включающее реализцию 2 таблиц, имеющих реляционные связи.
      <p><b>Предметная область - автопарк.</b></p>
      <ul>
        <li>
          <p>Таблица <b>"Автомобили"</b> содержит поля:</p>
          <div class="overflow-auto mt-3">
            <table class="table table-striped table-bordered">
              <thead class="thead-primary-bs3 font-weight-bold">
                <tr>
                  <td>Год выпуска</td>
                  <td>Модель</td>
                  <td>Гос. номер</td>
                  <td>Дата постановки на учёт</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <p>Таблица <b>"Тех. осмотры"</b> содержит поля:</p>
          <div class="overflow-auto mt-3">
            <table class="table table-striped table-bordered">
              <thead class="thead-primary-bs3 font-weight-bold">
                <tr>
                  <td>Номер карты</td>
                  <td>Дата тех. осмотра</td>
                  <td>Замечания</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
      <p>У одного автомобиля может быть несколько тех. осмотров.</p>
      <p>Приложение должно содержать следующие страницы (экранные формы):</p>
      <ul>
        <li>Страница со списком автомобилей;</li>
        <li>Страница добавления/редактирования сведений об автомобиле;</li>
        <li>Страница со списком техосмотров;</li>
        <li>Страница доавления/редактирования сведений о тех. осмотре;</li>
        <li>Страница "Отчёт".</li>
      </ul>
      <p>Страница со списком автомобилей содержит кнопки: "добавить", "редактировать", "удалить", "отчёт". (Кнопки "редактировать" и "удалить" могут располагаться вверху списка или дублироваться для каждой записи).</p>
      <p>При нажати на кнопку "добавить" открывается страница добавления новой записи. Год выпуска должен выбираться из календаря.</p>
      <p>При нажатии на кнопку "редактировать" открывается страница редактирования записи, выбранной в списке.</p>
      <p>При нажатии на кнопку "отчёт", открывается страница, содержащая надписи с обобщенными (агрегированными) данными:</p>
      <ul>
        <li>всего автомобилей: 'количество'</li>
        <li>из них старше 3 лет: 'количество'</li>
        <li>новее 3 лет: 'количество'</li>
      </ul>
      <p>Страница со списком тех. осмотров содержит кнопки: "добавить", "редактировать", "удалить".</p>
    </li>
  </ul>
</div>
