.btn-outline-primary-bs3 {
  color: #428bca;
  background-color: transparent;
  background-image: none;
  border-color: #428bca;
}

.bg-primary-bs3,
.badge-primary-bs3,
.btn-primary-bs3,
.thead-primary-bs3,
.btn-outline-primary-bs3:hover{
  background-color: #428bca;
  color: #fff;
}

.normal-span span {
  font-weight: normal !important;
}

.table-bordered {
  border: 2px solid #428bca;
}

.table-bordered thead td, .table-bordered thead th {
  border: 1px solid #fff;
}

.table-bordered tbody td, .table-bordered tbody th {
  border: 1px solid #428bca;
}

.page-link {
  color: #428bca;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.btn-primary-bs3:hover {
  background-color: #246eae;
  color: #fff;
}

.text-primary-bs3 {
  color: #428bca !important;
}

.form-control,
.list-group-item,
.ng-select.ng-select-single .ng-select-container,
.ng-dropdown-panel.ng-select-bottom {
  border: 1px solid #428bca;
}

.navbar-vertical,
.ng-dropdown-panel .scroll-host {
  scrollbar-width: thin;
  scrollbar-color: #7bb3e3 #d7e8f6;
}

.main-content {
  padding-top: 30px;
}

.nav-tabs {
  border-bottom-color: #428bca;
}

.nav-tabs .nav-link {
  color: #428bca;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.block-collapse .nav-tabs .nav-link.collapsed {
  color: #428bca;
  background-color: transparent;
}

.block-collapse .nav-tabs .nav-link {
  color: #fff;
  background-color: #428bca;
}

.block-collapse .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.block-collapse .nav-tabs .nav-link:hover {
  border-color: #428bca #428bca #fff;
}

.alert-arrow {
  border: 1px solid #60c060;
  color: #54a754;
  background-color: #fff;
}

.alert-arrow .alert-icon {
  position: relative;
  width: 3rem;
  background-color: #60c060;
}

.alert-arrow .alert-icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: .75rem solid transparent;
  border-bottom: .75rem solid transparent;
  border-left: .75rem solid #60c060;
  right: -.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.alert-arrow .close {
  font-size: 1rem;
  color: #767676;
}

.alert-arrow .close:hover {
  color: #000;
}

.alert-arrow-primary-bs3 {
  border: 1px solid #428bca;
  color: #3a8ace;
}

.alert-arrow-primary-bs3 .alert-icon {
  background-color: #428bca;
}

.alert-arrow-primary-bs3 .alert-icon::after {
  border-left: .75rem solid #428bca;
}

.alert-arrow-warning {
  border: 1px solid #fc9700;
  color: #d68000;
}

.alert-arrow-warning .alert-icon {
  background-color: #fc9700;
}

.alert-arrow-warning .alert-icon::after {
  border-left: .75rem solid #fc9700;
}

.alert-arrow-danger {
  border: 1px solid #da4932;
  color: #ca452e;
}

.alert-arrow-danger .alert-icon {
  background-color: #da4932;
}

.alert-arrow-danger .alert-icon::after {
  border-left: .75rem solid #da4932;
}

.result-head-text {
  width: auto;
  background-color: #428bca;
  color: #fff;
  font-weight: bold;
  margin: -1rem;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, 
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #fff;
  background-color: #428bca;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #428bca;
  background-color: #fff;
}

@media screen and (min-width:768px) {
  .main-content {
    margin-left: 250px;
    padding-top: 10px;
  }
}
